/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css"; /*Importing material css*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap'); /*Importing font lato*/
/* Global CSS */

body{
    background-color: #f6f6f6!important;
    font-family: 'Lato', sans-serif;
}

/* Pagination */
li.pagination-next a, li.pagination-previous a{
    outline: none;
}

/* min media query */
@media(min-width:1040px){
    div.container{
        max-width: 1020px;
    }
}