/* Search Bar */
section.search_bar_sec{
    background: #147abc;
    padding: 15px;
} 
.search_bar_sec select, .search_bar_sec input{
    height: 45px; 
    color:#000;
}
select.sort{
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 97%;
    background-position-y: 8px;
    font-family: 'FontAwesome', 'sans-serif';
}
.sort-label, .search_label{
    display: block;
    position: relative;
}
.searchanch {
    position: absolute;
    top: 0%;
    right: 0%;
    cursor: pointer;
    height: 100%;
    text-align: center;
    width: 40px;
    padding-top: 1px;
    background: #eeeeee59;
    border: 0px;
    border-left: 1px solid #ddd;
    
}

/* Users */
.ttl-reslts{
    font-weight: 500;
}
div.users {
    background: #fff; 
    margin-bottom: 30px;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.15);
}
div.users .user_row{
    padding: 15px 40px;
}
.user_avtar{
    width: 150px;height: 150px;
}
.toggle-btn{
    background: transparent;
    color: rgb(119, 156, 188);
    border: 2px solid rgb(119, 156, 188);
    font-weight: 500;
    padding: 4px 28px;
    box-shadow: none;
}
.toggle-btn:hover{
    background: rgb(119, 156, 188);
    color:#fff;
}
p.user_name {
    font-size: 24px;
    margin-bottom: 2px;
}
p.user_profile, .user_data{
    font-size: 14px;
}
.user_data{
    margin-bottom: 00px;
}
div.users .card.card-body{
    border:0px;padding:0px; 
}
section.user {
    padding: 35px;
}

/* Loader */
section.loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: #000;
    opacity: 0.8;
    padding-top: 18%
}
